<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Customer\Model\Address\AbstractAddress">

        <plugin name="Save_VN_Region" type="Magenest\Customer\Plugin\Region" sortOrder="1"/>

    </type>

</config>
