<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="10">
            <label>Magenest</label>
        </tab>
        <section id="colors" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Color Config</label>
            <tab>magenest</tab>
            <resource>Magenest_Frontend::colors</resource>
            <group id="color" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Color Config</label>
                <comment>Select your color</comment>
                <field id="option" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color Option</label>
                    <frontend_model>Magenest\Frontend\Block\Adminhtml\Config\Color</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>

                </field>
            </group>
        </section>
    </system>
</config>
