<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">


<!--    <event name="customer_save_before">-->
<!--        <observer name="save_phone" instance="Magenest\Customer\Observer\Frontend\Phone"/>-->
<!--    </event>-->
<!--    <event name="customer_address_save_before">-->
<!--        <observer name="phone" instance="Magenest\Customer\Observer\Frontend\Telephone"/>-->
<!--    </event>-->
</config>
