<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">

        <plugin name="AddressShipping" type="Magenest\Checkout\Plugin\Address" sortOrder="1"/>

    </type>
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="Checkout" xsi:type="object">Magenest\Checkout\Block\Layout</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\CustomerData\AbstractItem">

        <plugin name="Change_Product_Image_In_Minicart" type="Magenest\Checkout\Plugin\Minicart\Image" sortOrder="1"/>

    </type>
    <preference for="Magento\Checkout\Block\Cart\Item\Renderer" type="Magenest\Checkout\Block\Cart\Item\Renderer"/>
    <type name="Magento\OfflinePayments\Model\Cashondelivery">
        <plugin sortOrder="1" name="engravingServices"
                type="Magenest\Checkout\Plugin\PaymentMethod\CashOnDeliveryConfig"/>
    </type>
</config>
